@page
@model WebApp.Pages.Producto.EditModel
@{
}

<div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)">
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue ? "Actualizar" : "Nuevo")
        </div>
        <div class="card-body">
            <form id="FormEdit" method="post">
                <input type="hidden" asp-for="Entity.producto_id"  v-model="Entity.producto_id"/>

                

                <div class="form-group mb-3">
                    <label for="Entity.descripcion" class="form-label">Descripción</label>
                    <input type="text" class="form-control" asp-for="Entity.descripcion" maxlength="100" required>
                </div>
                <div class="form-group mb-3">
                    <label for="Entity.tipo" class="form-label">Categoría</label>
                    <select asp-for="Entity.tipo" class="form-select" required>
                        <option value="">Seleccione una opción</option>
                        <option value="Frutas">Frutas</option>
                        <option value="Verduras">Verduras</option>
                        <option value="Vegetales">Vegetales</option>
                        <option value="Tubérculos">Tubérculos</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="Entity.tipo_precio" class="form-label">Precio</label>
                    <select asp-for="Entity.tipo_precio" class="form-select" required>
                        <option value="">Seleccione una opción</option>
                        <option value="Unidad">Por Unidad</option>
                        <option value="Kilo">Por Kilo</option>
                        <option value="Empaquete">Por empaquete</option>
                        <option value="Bandeja">Por bandeja</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="Entity.cantidad" class="form-label">Cantidad</label>
                    <input type="number" class="form-control" asp-for="Entity.cantidad" maxlength="100" required>
                </div>
                <div class="form-group mb-3">
                    <label for="Entity.precio" class="form-label">Precio</label>
                    <input type="number" class="form-control" asp-for="Entity.precio" maxlength="100" required>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-outline-primary">
                            @(Model.id.HasValue?"Actualizar":"Agregar")
                        </button>
                    </div>
                </div>

            </form>


        </div>
    </div>

</div>


@section Scripts{
    <script defer src="~/App/Producto/Edit.js"></script>

}